* {
	font-family: 'Droid Serif', serif;
	box-sizing: border-box;
}

html {
	background-image: url("https://i.imgur.com/L8D5y1Z.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

header {
	font-size: 2.5em;
	text-align: center;
}

#avatar {
	width: 4em;
	height: 4em;
	margin-left: 17em;
}

#categories {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

h2 {
	text-align: center;
	border-bottom: solid;
}

#habits, #rewards {
	border-style: solid;
	background-color: #FFF0E0;
}

#habits {
	padding-left: 3em;
	padding-right: 3em;
}

#rewards{
	padding-right: 5em;
	padding-left: 5em;
}

#rewards img {
	width: 0.9em;
}

button {
	background-color: #E8CFC0;
	border: none;
	cursor: pointer;
}

#rewards button {
	background-color: #FFF0E0;
}

#tracking {
	display: flex;
	align-content: center;
}

.progress {
	border-style: solid;
	width: 25em;
	height: 2em;
	margin-top: 0.7em;
	position: relative;
}

.progress-bar {
	background-color: gold;
	height: 100%;
	position: absolute;
}